<div *ngIf="!isBusy" class="row">
    <div *ngIf="user" class="col s3">
        <div class="card-panel">
            <ul>
                <li>Name: <span class="right">{{ user.name }}</span></li>
                <li>Username: <span class="right">{{ user.username }}</span></li>
                <li>Email: <span class="right">{{ user.email }}</span></li>
                <li>Post amount: <span class="right">[x]</span></li>
            </ul>
        </div>
    </div>
    <div class="col s9">
        <ng-container *ngFor="let post of posts">
            <div *ngIf="loggedUser === post.creator_id" class="card-panel first own-post">
                <div class="post-details">
                    <div class="author-fullname">{{ post.creator_name }}</div>
                    <p class="teaser">{{ post.content }}</p>
                    <span class="post-date deep-orange-text text-lighten-1">{{ post.post_date | timeAgo}}</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div *ngIf="isBusy" class="preloader-wrapper active">
    <div class="spinner-layer spinner-yellow-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
    </div><div class="circle-clipper right">
        <div class="circle"></div>
    </div>
    </div>
</div>