<div class="row">
    <div class="col s3">
        <div class="card-panel">
            <ul>
                <li>Name: <span>Adam Jaks</span></li>
                <li>Username: <span>adamjaks</span></li>
                <li>Email: <span>adamjaks@gmail.com</span></li>
                <li>Post amount: <span>11</span></li>
            </ul>
        </div>
    </div>
    <div class="col s9">
        <div class="card-panel first">
            <div class="post-details">
                <div class="author-fullname">John Doe</div>
                <p class="teaser">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum distinctio eum ipsa magni mollitia
                    qui,
                    voluptates. Accusamus adipisci aspernatur, blanditiis est, excepturi nulla odit, provident quasi
                    quia
                    repudiandae voluptatem...
                </p>
                <span class="post-date deep-orange-text text-lighten-1">
            2 weeks ago
        </span>
            </div>
            <a class="btn-floating btn-medium waves-effect waves-light grey darken-4 right">
                <i class="material-icons">add</i>
            </a>
        </div>

        <div class="card-panel">
            <div class="post-details">
                <div class="author-fullname">Jenny Doe</div>
                <p class="teaser">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum distinctio eum ipsa magni mollitia
                    qui,
                    voluptates. Accusamus adipisci aspernatur, blanditiis est, excepturi nulla odit, provident quasi
                    quia
                    repudiandae voluptatem...
                </p>
                <span class="post-date deep-orange-text text-lighten-1">
            2 weeks ago
        </span>
            </div>
            <a class="btn-floating btn-medium waves-effect waves-light grey darken-4 right">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
</div>