<div class="row">
    <div *ngIf="user" class="col s3">
        <div class="card-panel">
            <ul>
                <li>Name: <span>{{ user.name }}</span></li>
                <li>Username: <span>{{ user.username }}</span></li>
                <li>Email: <span>{{ user.email }}</span></li>
                <li>Post amount: <span>11</span></li>
            </ul>
        </div>
    </div>
    <div class="col s9">
        <ng-container *ngFor="let post of posts">
            <div *ngIf="loggedUser === post.creator_username" class="card-panel first">
                <div class="post-details">
                    <div class="author-fullname">{{ post.creator_username }}</div>
                    <p class="teaser">{{ post.content }}</p>
                    <span class="post-date deep-orange-text text-lighten-1">2 weeks ago</span>
                </div>
                <a class="btn-floating btn-medium waves-effect waves-light grey darken-4 right">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </ng-container>
    </div>
</div>