<div class="row">
  <form class="col s12" (submit)="onLoginSubmit()">
    <div class="row">
      <div class="input-field col s6 deep-orange-text">
        <input id="username" type="text" [(ngModel)]="username" name="username">
        <label for="username" class="deep-orange-text">Username</label>
      </div>
      <div class="input-field col s6 deep-orange-text">
        <input id="password" type="password" [(ngModel)]="password" name="password">
        <label for="password" class="deep-orange-text">Password</label>
      </div>
    </div>
    <button type="submit" class="btn grey darken-4 white-text">Login</button>
  </form>
</div>