<form>
    <div class="row">
        <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea" data-length="280"></textarea>
            <label for="textarea2">Add new post</label>
        </div>
    </div>
</form>

<div class="card-panel">
    <span class="teal-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum distinctio eum ipsa magni mollitia qui,
        voluptates. Accusamus adipisci aspernatur, blanditiis est, excepturi nulla odit, provident quasi quia
        repudiandae voluptatem...
    </span>
</div>

<div class="card-panel">
    <span class="teal-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum distinctio eum ipsa magni mollitia qui,
        voluptates. Accusamus adipisci aspernatur, blanditiis est, excepturi nulla odit, provident quasi quia
        repudiandae voluptatem...
    </span>
</div>

<div class="card teal lighten-2">
    <div class="card-content white-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum distinctio eum ipsa magni mollitia qui,
            voluptates. Accusamus adipisci aspernatur, blanditiis est, excepturi nulla odit, provident quasi quia
            repudiandae voluptatem... <span class="teal lighten-5 teal-text">read more</span>
        </p>
    </div>
    <div class="card-action teal lighten-1">
        <a href="#"><i class="material-icons teal-text text-lighten-4 right">mode_edit</i></a>
        <a href="#"><i class="material-icons teal-text text-lighten-4 right">delete_forever</i></a>
    </div>
</div>

<div class="card-panel">
        <span class="teal-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum distinctio eum ipsa magni mollitia qui,
            voluptates. Accusamus adipisci aspernatur, blanditiis est, excepturi nulla odit, provident quasi quia
            repudiandae voluptatem...
        </span>
</div>

