form { margin-top: 2rem; }
.input-field { border-color: #ff5722;
  textarea { border-color: #ff5722;
    &:focus { border-color: #ff5722; box-shadow: 0 1px 0 0 #ff5722; }
  }
}
.card-panel { position: relative; margin: 2.4rem 0;
  &.first { margin-top: 0; }
}
.author-avatar { width: 120px; height: 120px;
  float: left; background-size: cover; background-position: center; position: absolute; left: 0; top: 0;
  background-repeat: no-repeat;
  &.own { border: 2px solid #ff8a65; }
}
.author-fullname { font: { size: .9rem; weight: 700; }}
.teaser { padding: 0; margin: 0; font-size: .9rem; }
.post-date { font: { size: .8rem; } }
.management-menu { position: absolute; right: 0; top: 50%; transform: translateY(-50%); }
.option-btn { width: 36px; height: 36px; text-align: center; position: relative;
  i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
}
