<form (submit)="onAddPostSubmit()" *ngIf="authService.loggedIn()" class="add-post-form">
    <div class="row valign-wrapper">
        <div class="col s10">
            <div class="input-field deep-orange-text">
                <textarea id="textarea2" [(ngModel)]="content" name="content" class="materialize-textarea"></textarea>
                <label for="textarea2" class="deep-orange-text">Add new post</label>
            </div>
        </div>
        <div class="col s2">
            <button class="btn right grey darken-4 sen-message" type="submit">Send
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>

<div *ngFor="let post of posts" class="card-panel first"
     [ngClass]="{'own-post' : authService.loggedIn() && post.creator_id === loggedUser}">
    <div class="post-details">
        <div class="author-fullname">{{ post.creator_name }}</div>
        <p class="teaser">{{ post.content }}</p>
        <span class="post-date deep-orange-text">
            {{ post.post_date | timeAgo }}
        </span>
    </div>
    <ng-container *ngIf="authService.loggedIn() && post.creator_id === loggedUser">
        <a class="btn-floating btn-medium deep-orange darken-3 right"
           (click)="deletePost(post._id)">
            <i class="material-icons">delete</i>
        </a>
        <a class="btn-floating btn-medium deep-orange right modal-trigger"
           (click)="openEditModal(post._id, post.content)">
            <i class="material-icons">create</i>
        </a>
    </ng-container>
</div>

<div id="edit-modal" class="modal">
    <div class="modal-content">
        <form (submit)="onEditModalSubmit()">
            <div class="row">
                <div class="col s12">
                    <div class="input-field deep-orange-text">
                        <textarea id="textarea-edit" [(ngModel)]="contentEdited" name="contentEdited" class="materialize-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn grey darken-4 right">Confirm editing</button>
                </div>
            </div>
        </form>
    </div>
</div>