<a [routerLink]="['/']" class="back waves-effect waves-light btn grey darken-4"><i class="material-icons left">arrow_back</i>Back</a>
<div class="card-panel">
    <div class="post-details">
        <div class="author-fullname">Jenny Doe</div>
        <p class="teaser">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum distinctio eum ipsa magni mollitia qui,
            voluptates. Accusamus adipisci aspernatur, blanditiis est, excepturi nulla odit, provident quasi quia
            repudiandae voluptatem...
        </p>
        <p class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error incidunt inventore
            ipsam quos veniam. Cupiditate, doloremque ducimus ea est explicabo illum laboriosam porro,
            ratione reprehenderit saepe sequi similique voluptate!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error incidunt inventore
            ipsam quos veniam. Cupiditate, doloremque ducimus ea est explicabo illum laboriosam porro,
            ratione reprehenderit saepe sequi similique voluptate!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error incidunt inventore
            ipsam quos veniam. Cupiditate, doloremque ducimus ea est explicabo illum laboriosam porro,
            ratione reprehenderit saepe sequi similique voluptate!
        </p>
        <span class="post-date deep-orange-text text-lighten-1">
            2 weeks ago
        </span>
    </div>
</div>
<div class="rate">
    <a class="down deep-orange lighten-3 valign-wrapper left" href="#"><i class="material-icons">thumb_down</i></a>
    <a class="up deep-orange valign-wrapper left" href="#"><i class="material-icons">thumb_up</i></a>
</div>
